//Input Foucs none or input ouline one here.
input:focus, textarea:focus, select:focus { 
    outline: none !important;
    border-color: white !important;
    box-shadow: 0 0 0px white !important;
}

//Label up and placeholder down style

.label-border .elementor-field-group {
    border: 1px solid #dde0e9;
    border-radius: 15px;
}

.elementor-field-group.elementor-field-type-submit {
    border: none;
}
label.elementor-field-label {
    padding: 0 10px;
    margin-top: -8px;
    background: #fff;
}

//Andreza or Hi one border style after and before
selector .elementor-element-populated:after{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 2px;
    width: 80%;
    background: #333;
}

//Elementor Header sticky Style here
selector.elementor-sticky--effects{
    background: red !important;
}





